@use "colors";

.fade {
    animation: Fade 1s ease;
}

.fade-again {
    animation: FadeAgain 1s ease;
}

@keyframes Fade {
    0% {
        opacity: 0%
    }
    100% {
        opacity: 100%;
    }
}

@keyframes FadeAgain {
    0% {
        opacity: 0%
    }
    100% {
        opacity: 100%;
    }
}

#Splash {
    align-items: center;
    color: colors.$primary;
    display: flex;
    height: 100svh;
    justify-content: center;

    #{&}-inner {
        animation: Splash 0.4s ease normal;
        display: inline-block;
    }
}

@keyframes Splash {
    0% {
        opacity: 0%;
        transform: translateX(-1.5em);
    }
    25% {
        opacity: 100%;
    }
    50% {
        transform: translateX(0.25em);
    }
    100% {
        transform: translateX(0);
    }
}
