@use "themed";

.card {
    @include themed.themed(
        #111,
        change-color($color: #fff, $blackness: 10%),
    );
    display: flex;
    flex-direction: column;
    padding: 2em;

    @media (prefers-color-scheme: dark) {
        @include themed.themed(
            #fff,
            change-color($color: #111, $whiteness: 15%),
        );
    }

    #{&}-title {
        margin-bottom: 1.5em;
    }

    #{&}-link {
        color: #2832c2;
        margin-bottom: 1.5em;

        @media (prefers-color-scheme: dark) {
            color: #82eefd;
        }
    }

    #{&}-image {
        max-width: 50vw;
    }
}
