@use "colors";
@use "themed";

.card {
    @include themed.themed(
        colors.$foreground,
        change-color($color: colors.$background, $blackness: 10%),
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;

    @media (prefers-color-scheme: dark) {
        @include themed.themed(
            colors.$background,
            change-color($color: colors.$foreground, $whiteness: 15%),
        );
    }

    &-link {
        text-decoration-line: none;

        &:hover {
            text-decoration-line: none;
        }
    }

    #{&}-head {
        margin-bottom: 1.5em;
    }

    #{&}-subtext {
        color: grey;
        size: x-small;
    }

    #{&}-image {
        aspect-ratio: 2/1;
        max-width: 100%;
    }
}
