@use "themed";

.footer {
    @include themed.themed(
        #fff,
        #111,
    );

    display: flex;
    justify-content: space-between;
    padding: 0.5em;

    @media (prefers-color-scheme: dark) {
        @include themed.themed(
            #fff,
            change-color($color: #111, $whiteness: 15%),
        );
    }
}
