@use "animations";
@use "card";
@use "card-grid";
@use "colors";
@use "footer";
@use "markdown";
@use "navigation-bar";
@use "not-found";
@use "status";
@use "themed";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Noto+Sans+Mono&family=Space+Mono&display=swap');

* {
    --primary: #2832c2;
    --error: #c22828;
    margin: 0;

    @media (prefers-color-scheme: dark) {
        --primary: #82eefd;
        --error: #fd8282;
    }
}

html {
    @include themed.themed(
        colors.$foreground,
        colors.$background,
    );
    font-family: 'IBM Plex Mono', monospace;

    @media (prefers-color-scheme: dark) {
        @include themed.themed(
            colors.$background,
            colors.$foreground,
        );
    }
}

p {
    font-size: max(1em, 1vmax);
    hyphens: auto;
    line-break: loose;

    a {
        color: var(--primary);
    }
}

sup a {
    text-decoration-line: none;
}

#App {
    height: 100svh;
    display: flex;
    flex-direction: column;
}

// #Canvas {
//    position: absolute;
//    top: 0px;
//    pointer-events: none;
//    height: 100svh;
//    width: 100svw;
// }

.body {
    flex-grow: 1;
    padding: 1em 1em 1em 1em;
}
