@use "animations";
@use "card";
@use "card-grid";
@use "footer";
@use "markdown";
@use "navigation_bar";
@use "themed";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Noto+Sans+Mono&display=swap');

* {
    margin: 0
}

html {
    @include themed.themed;
    font-family: 'IBM Plex Mono', monospace;

    @media (prefers-color-scheme: dark) {
        @include themed.themed(#fff, #111);
    }
}

p {
    font-size: max(1em, 1vmax);
    hyphens: auto;
    line-break: loose;

    a {
        color: #2832c2;

        @media (prefers-color-scheme: dark) {
            color: #82eefd;
        }
    }
}

sup a {
    text-decoration-line: none;
}

#App {
    height: 100svh;
    display: flex;
    flex-direction: column;
}

.body {
    margin: 1em;
    flex-grow: 1;
}

.not-found {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    h1 {
        font-size: 10em;
    }
}
