@use "colors";

.nav-bar {
    align-items: center;
    border-bottom: 0.2em solid;
    display: flex;
    justify-content: space-between;
    padding: 1em;

    .nav-head {
        cursor:  pointer;
        font-family: "Space Mono", monospace;
    }

    .nav-link {
        text-decoration-line: none;

        &.active {
            color: colors.$secondary-light;

            @media (prefers-color-scheme: dark) {
                color: colors.$secondary-dark;
            }
        }
    }

    .nav-links {
        list-style-type: none;

        li {
            float: left;
            padding-right: 1em;
        }
    }
}
