@use "colors";
@use "themed";

.post {
    white-space: pre-wrap;

    pre {
        background: change-color($color: colors.$background, $blackness: 10%) !important;

        @media (prefers-color-scheme: dark) {
            background: change-color($color: colors.$foreground, $whiteness: 10%) !important;
        }

        padding: 1rem;
    }

    blockquote {
        margin: 5px;
        border-left: 5px solid grey;
        padding: 5px;
    }

    blockquote p {
        margin: 5px
    }

    ul {
        list-style-type: disc
    }

    table {
        border: 1px solid black; border-collapse: collapse
    }

    td {
        border: 1px solid grey; padding: 5px
    }

    thead {
        font-weight: bold;
    }

}
