@mixin themed($foreground, $background) {
    background: $background;
    color: $foreground;

    a {
        color: $foreground;

        &:hover {
            color: change-color($color: $foreground, $lightness: 45%,);
        }
    }
}
